:root {
    --clr-black: #333;
    --clr-gray: #C8C5D1;
    --clr-gray-light: #E7E5EB;
    --clr-athens-gray: #F4F3F6;
    --clr-white: #fff;
    --clr-text-gray: #B0B0B0;
    --clr-accent: #9873FF;
    --clr-accent-light: #B89EFF;
    --clr-accent-dark: #5B46A9;
    --clr-accent-vivid: #7B61FF;
    --clr-red: #F06A4D;

    --fs-200: 10px;
    --fs-300: 12px;
    --fs-400: 14px;
    --fs-800: 18px;
    --fs-900: 18px;

    --lh-200: 14px;
    --lh-300: 16px;
    --lh-400: 19px;
    --lh-800: 25px;
    --lh-900: 25px;
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #F5F5F5;
    min-width: 320px;

}

a {
    text-decoration: none;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.btn-reset {
    padding: 0;
    margin: 0;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.container {
    max-width: 1216px;
    margin: 0 auto;
    padding: 0 20px;
}



/* Header */

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--clr-white);
    box-shadow: 0px 9.03012px 27.0904px rgba(176, 190, 197, 0.32), 0px 3.38629px 5.64383px rgba(176, 190, 197, 0.32);
}

.header__container {
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 1355px;
    display: flex;
    align-items: center;
}

.header__logo {
    display: block;
    margin-right: 53px;
}

.header__form {
    width: 100%;
}

.header__input {
    height: 44px;
    width: 100%;
    max-width: 581px;
    padding-left: 16px;
    border: 1px solid rgba(51, 51, 51, 0.2);
}

.header__input::placeholder {
    color: var(--clr-text-gray);
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}



/* Clients Section */


.clients {
    padding-top: 115px;
}

.clients__heading {
    margin: 0;
    margin-bottom: 27px;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: var(--clr-black);
}

.clients__container {
    display: flex;
    flex-direction: column;
}

.display-info {
    padding-left: 20px;
    margin-bottom: 10px;
    display: block;
}

.display-info__wrapper {
    display: flex;
    align-items: center;
}

.display-info__item {
    font-weight: 400;
    font-size: 12px;
    color: var(--clr-text-gray);
}

.display-info__item--id,
.display-info__sorting {
    text-transform: uppercase;
    color: var(--clr-accent);
}

.display-info__item--id,
.display-info__item--name,
.display-info__item--create,
.display-info__item--change {
    cursor: pointer;
    user-select: none;
}

.display-info__item--id {
    padding-right: 13px;
    margin-right: 60px;
    background-position: right center;
}

.display-info__item--name {
    padding-left: 40px;
    background-position: right 20px center;
}

.display-info__sorting {
    padding-left: 11px;
}

.display-info__item--create {
    position: relative;
    padding-right: 70px;
    padding-left: 200px;
}

.display-info__item--create::before {
    content: 'создания';
    position: absolute;
    right: 0;
    top: 1px;
    margin-right: 13px;
}

.display-info__item--change {
    position: relative;
    padding-right: 80px;
    margin-right: 28px;
    padding-left: 30px;
}

.display-info__item--change::before {
    content: 'изменения';
    position: absolute;
    right: 0;
    top: 1px;
    margin-right: 13px;
}

.display-info__item--contacts {
    padding-left: 30px;
}

.display-info__item--actions {
    padding-left: 100px;
}

.clients__btn {
    display: flex;
    flex-direction: row-reverse;
    padding: 14px 26px;
    align-self: center;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid var(--clr-accent);
    color: var(--clr-accent);
}

.clients__btn svg {
    display: block;
    fill: var(--clr-accent);
    transition: fill .3s ease-in-out;
    margin-right: 10px;
}

.clients__btn:hover {
    transition: color .3s ease-in-out, background-color .3s ease-in-out;
    background-color: var(--clr-accent);
    color: var(--clr-white);
}


.clients__btn:hover svg {
    transition: fill .3s ease-in-out;
    fill: var(--clr-white);
}

.create__span,
.change__span {
    display: inline-block;
    width: 7px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-image: url('../img/arrow-down.svg');
    background-repeat: no-repeat;
    background-position: center center;
}

.sort-up,
.sort-down {
    background-repeat: no-repeat;
}

.sort-up {
    background-image: url('../img/arrow-up.svg');
}

.sort-down {
    background-image: url('../img/arrow-down.svg');
}

.display-info__item--change,
.display-info__item--create {
    background-image: none;
}

.clients__wrapper {
    overflow: auto;
    position: relative;
}


/* Client Modal */

@import './modal.css';


.modal__error {
    margin: 0;
    margin-top: -17px;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    color: var(--clr-red);
    margin-bottom: 10px;
    max-width: 255px;
}

.site-modal {
    position: absolute;
    overflow-x: auto;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000080;
    /* opacity: 0; */
}

.site-modal__content {
    /* min-width: 450px; */
    cursor: auto;
    position: absolute;
    padding: 25px 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.15);
    background-color: var(--clr-white);
    /* opacity: 0; */
}

.site-btn {
    background-color: var(--clr-accent);
    color: var(--clr-white);
}


.modal__close {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 20px;
    height: 20px;
    border: none;
    background: transparent;
    cursor: pointer;
    background-image: url('../img/Union.svg');
    background-repeat: no-repeat;
    background-position: center center;
}

.modal__title {
    margin: 0;
    margin-bottom: 33px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: var(--clr-black);
}

.modal__form {
    width: 390px;
    display: flex;
    flex-direction: column;
}

.form-floating {
    position: relative;
    margin-bottom: 32px;
}

.form-floating>label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    font-size: 14px;
    padding-top: 5px;
    pointer-events: none;
    border: 1px solid transparent;
    transform-origin: 0 0;
    transition: opacity .1s ease-in-out, transform .1s ease-in-out;
    color: var(--clr-text-gray);
}

.form-floating>.modal__input:focus~label,
.form-floating>.modal__input:not(:placeholder-shown)~label {
    top: -10px;
    transform: scale(.85) translate(.15rem, -.5rem);
}

.modal__input::placeholder {
    font-size: 0;
}


.modal__input {
    display: block;
    outline: none;
    width: 100%;
    border: none;
    height: 28px;
    border-bottom: 1px solid var(--clr-gray);
}

.modal__form button {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
}

.modal__contact {
    padding: 8px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 -30px;
    margin-bottom: 25px;
    background-color: var(--clr-gray);
}

.modal__btn-contact {
    border: none;
    cursor: pointer;
    display: none;
    position: relative;
    padding-left: 16px;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    transition: color .3s ease-in-out;
    background-color: transparent;
    color: var(--clr-black);
}

.modal__btn-contact:hover {
    color: var(--clr-accent);
    transition: color .3s ease-in-out;

}

.modal__label>span {
    color: var(--clr-accent);
}

.modal__btn-contact.modal__btn-contact--active {
    display: flex;
}

.btn-contact__svg {
    display: block;
    position: absolute;
    top: 2px;
    left: -5px;
    margin-right: 5px;
    width: 16px;
    height: 16px;
    fill: var(--clr-accent);
}

.btn-contact__svg--hover,
.btn-contact__svg--default {
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
}

.btn-contact__svg--hover.btn-contact__svg--active {
    opacity: 1;
    visibility: visible;
    transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
}

.btn-contact__svg--default.btn-contact__svg--active {
    opacity: 1;
    visibility: visible;
    transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
}

.modal__btn-save {
    padding: 12px 35px;
    align-self: center;
    position: relative;
    margin-bottom: 5px;
    background-color: var(--clr-accent);
    color: var(--clr-white);
    transition: background-color .3s ease-in-out;
}

.modal__btn-save:hover {
    background-color: var(--clr-accent-light);
    transition: background-color .3s ease-in-out;
}

.modal__btn-back {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    align-self: center;
    padding-bottom: 1px;
    border-bottom: 1px solid var(--clr-black);
    color: var(--clr-black);
}


/* Contact CSS */

.contact {
    display: flex;
    align-items: center;
    width: 390px;
    margin-bottom: 25px;
}

.contact__type {
    position: relative;
}

.contact__name {
    height: 37px;
    z-index: 1;
    min-width: 134px;
    max-width: 134px;
    position: relative;
    padding: 10px 12px;
    padding-right: 60px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
    border: 1px solid var(--clr-gray);
    background-color: var(--clr-gray-light);
    color: var(--clr-black);
}

.contact__name::before {
    content: '';
    position: absolute;
    right: 15px;
    top: 13px;
    width: 10px;
    height: 10px;
    background-image: url('../img/contact-arrow.svg');
    background-repeat: no-repeat;
    background-position: center center;
    transition: transform .3s ease-in-out;
}

.contact__name:hover {
    background-color: var(--clr-gray-light);
    transition: background-color .3s ease-in-out;

}

.contact__name:active {
    background-color: var(--clr-gray-light);
    transition: background-color .3s ease-in-out;
    opacity: 0.5;
}

.contact__list--active.contact__name::before {
    transform: rotate(-180deg);
    transition: transform .3s ease-in-out;

}

.contact__list {
    z-index: 2;
    position: absolute;
    font-size: 12px;
    padding: 10px 0 6px;
    max-width: 134px;
    min-width: 134px;
    top: 36px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
    background-color: var(--clr-athens-gray);
    border: 1px solid var(--clr-gray-light);
}

.contact__list.contact__list--active {
    opacity: 1;
    visibility: visible;
    transition: opacity .3s ease-in-out, visibility .3s ease-in-out;

}

.contact__item {
    cursor: pointer;
    padding-top: 4px;
    padding-bottom: 7px;
    padding-left: 12px;
    transition: background-color .3s ease-in-out;

}

.contact__item:hover {
    transition: background-color .3s ease-in-out;
    background-color: var(--clr-gray);
}

.contact__input {
    padding-left: 12px;
    width: 100%;
    height: 37px;
    display: block;
    border: 1px solid var(--clr-gray);
    background-color: transparent;
    border-left: none;
    border-right: none;
}

.contact__delete {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 40px;
    align-self: stretch;
    background-color: var(--clr-gray-light);
    border: 1px solid var(--clr-gray);
    transition: border-color .3s ease-in-out;
    color: var(--clr-white);
}

.contact__delete svg {
    cursor: pointer;
    display: block;
    width: 16px;
    height: 16px;
    fill: var(--clr-text-gray);
    transition: fill .3s ease-in-out;
}

.contact__delete:hover {
    transition: border-color .3s ease-in-out;
    border-color: var(--clr-red);
}

.contact__delete:hover svg {
    transition: fill .3s ease-in-out;

    fill: var(--clr-red);
}

.contact__delete:hover .contact-tooltip {
    opacity: 1;
    visibility: visible;
    transition: opacity .3s ease-in-out, visibility .3s ease-in-out;

}

/* .contact-tooltip {
    display: none;
} */

.contact__delete .contact-tooltip {
    min-width: 150px;
    top: -30px;
}

.site-tooltip {
    position: absolute;
    top: -41px;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
    transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
    padding: 7px 15px;
    background-color: var(--clr-black);
}

.site-tooltip::before {
    content: '';
    position: absolute;
    bottom: -9px;
    width: 10px;
    height: 10px;
    left: 50%;
    transform: translateX(-50%);
    clip-path: polygon(100% 0, 0 0, 51% 100%);
    background-color: var(--clr-black);
}




/* Client Item Table */

.clients__table {
    width: 100%;
    min-width: 1186px;
    margin-bottom: 40px;
}

.clients__item {
    display: flex;
    padding: 18px;
    border-bottom: 1px solid var(--clr-gray);
    background-color: var(--clr-white);
}

.clients__id {
    width: 7%;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: var(--clr-text-gray);
}

.clients__full-name {
    width: calc(32% + 5px);
    color: var(--clr-black);
    font-size: 14px;
}

.clients__full-name span {
    display: inline-block;
}

.clients__full-name span:not(:last-child) {
    margin-right: 5px;
}

.clients__created {
    width: calc(15%);
    /* padding-left: 10px; */
}

.clients__changed {
    width: calc(15%);
    /* padding-left: 16px; */

}

.created__date,
.changed__date {
    margin-right: 7px;
    font-size: 14px;
    color: var(--clr-black);
}


.created__time,
.changed__time {
    font-size: 14px;
    color: var(--clr-text-gray);
}

.clients__contacts {
    margin: -10px 2px -17px 0;
    max-width: 120px;
    min-width: 120px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.clients__actions {
    display: flex;
    align-items: center;
}

.clients__actions button {
    display: inline-block;
    font-size: 14px;
    padding-left: 20px;
    background-repeat: no-repeat;
    background-position: left top;
    background-color: transparent;
    color: var(--clr-black);
    transition: color .3s ease-in-out;

}



.clients__edit {
    position: relative;
    margin-right: 32px;
    background-image: url('../img/edit.svg');
}

.clients__edit:hover {
    color: var(--clr-accent);
    transition: color .3s ease-in-out;
}

.clients__delete {
    position: relative;
    margin-right: 32px;
    background-image: url('../img/delete-red.svg');
}

.clients__delete:hover {
    color: var(--clr-red);
    transition: color .3s ease-in-out;

}

.clients__link {
    position: relative;
    width: 16px;
    height: 16px;
    margin-bottom: 7px;
}

.actions-wait {
    background-image: none;
}

.actions__spinner {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    animation: spinner 1s linear infinite;
}

.clients__edit .actions__spinner svg {
    stroke: var(--clr-accent);
    fill: none;

}

.clients__delete .actions__spinner svg {
    stroke: var(--clr-red);
    fill: none;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);

    }
}

.clients__link g,
.clients__link path {
    transition: opacity .3s ease-in-out;
}


.clients__link:hover g,
.clients__link:hover path {
    opacity: 1;
    transition: opacity .3s ease-in-out;
}

.clients__link:not(:last-child) {
    margin-right: 7px;
}


/* Delete Modal */

.delete-modal__content {
    min-width: 335px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.delete-modal__title {
    margin-bottom: 11px;
}

.delete-modal__text {
    margin: 0;
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    max-width: 275px;
    color: var(--clr-black);
}

.delete-modal__delete,
.delete-modal__back {
    display: block;
}


.delete-modal__delete {
    position: relative;
    padding: 12px 35px;
    align-items: center;
    margin-bottom: 5px;
}

.delete-modal__back {
    font-weight: 400;
    align-self: center;
    padding-bottom: 1px;
    border-bottom: 1px solid var(--clr-black);
    color: var(--clr-black);
}

.modal__id {
    display: inline-block;
    margin-left: 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: var(--clr-text-gray);

}




/* Tooltip */

/* .clients__tbody {
    position: relative;
} */

.contact-tooltip {
    z-index: 10;
    display: flex;
    align-items: center;
    font-size: 12px;
    width: auto;
}

.contact-tooltip__type {
    margin-right: 2px;
    display: block;
    font-weight: 700;
    color: var(--clr-white);
}

.contact-tooltip__value {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: var(--clr-accent-light);
    white-space: nowrap;
}

.clients__link:hover .contact-tooltip {
    opacity: 1;
    visibility: visible;
    transition: opacity .5s ease-in-out, visibility .5s ease-in-out, transform .5s ease-in-out;
}



/* Preloader */

.preloaderdiv {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--clr-white);
}

.preloader {
    animation: preloader 1s linear infinite;
}

@keyframes preloader {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.modal__spinner {
    position: absolute;
    display: none;
    top: 10px;
    left: 13px;
    animation: spinner 1s linear infinite;
}

.modal__spinner svg {
    width: 15px;
    height: 15px;
    stroke: var(--clr-white);
    fill: none;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);

    }
}


#loader {
    --background: #62ABFF;
    --front-color: #8052ff;
    --back-color: #C3C8DE;
    --text-color: #414856;
    width: 64px;
    height: 64px;
    border-radius: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loader svg {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loader svg circle {
    position: absolute;
    fill: none;
    stroke-width: 6px;
    stroke-linecap: round;
    stroke-linejoin: round;
    transform: rotate(-100deg);
    transform-origin: center;
}

#loader svg circle.back {
    stroke: var(--back-color);
}

#loader svg circle.front {
    stroke: var(--front-color);
}

#loader svg.circle-outer {
    height: 86px;
    width: 86px;
}

#loader svg.circle-outer circle {
    stroke-dasharray: 62.75 188.25;
}

#loader svg.circle-outer circle.back {
    -webkit-animation: circle-outer 1.8s ease infinite 0.3s;
    animation: circle-outer 1.8s ease infinite 0.3s;
}

#loader svg.circle-outer circle.front {
    -webkit-animation: circle-outer 1.8s ease infinite 0.15s;
    animation: circle-outer 1.8s ease infinite 0.15s;
}

#loader svg.circle-middle {
    height: 60px;
    width: 60px;
}

#loader svg.circle-middle circle {
    stroke-dasharray: 42.5 127.5;
}

#loader svg.circle-middle circle.back {
    -webkit-animation: circle-middle 1.8s ease infinite 0.25s;
    animation: circle-middle 1.8s ease infinite 0.25s;
}

#loader svg.circle-middle circle.front {
    -webkit-animation: circle-middle 1.8s ease infinite 0.1s;
    animation: circle-middle 1.8s ease infinite 0.1s;
}

#loader svg.circle-inner {
    height: 34px;
    width: 34px;
}

#loader svg.circle-inner circle {
    stroke-dasharray: 22 66;
}

#loader svg.circle-inner circle.back {
    -webkit-animation: circle-inner 1.8s ease infinite 0.2s;
    animation: circle-inner 1.8s ease infinite 0.2s;
}

#loader svg.circle-inner circle.front {
    -webkit-animation: circle-inner 1.8s ease infinite 0.05s;
    animation: circle-inner 1.8s ease infinite 0.05s;
}

#loader .text {
    position: absolute;
    bottom: -40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: lowercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.2px;
}

#loader .text::before,
#loader .text::after {
    content: attr(data-text);
}

#loader .text::before {
    color: var(--text-color);
}

#loader .text::after {
    color: var(--front-color);
    -webkit-animation: text-animation 3.6s ease infinite;
    animation: text-animation 3.6s ease infinite;
    position: absolute;
    left: 0;
}

@-webkit-keyframes circle-outer {
    0% {
        stroke-dashoffset: 25;
    }

    25% {
        stroke-dashoffset: 0;
    }

    65% {
        stroke-dashoffset: 301;
    }

    80% {
        stroke-dashoffset: 276;
    }

    100% {
        stroke-dashoffset: 276;
    }
}

@keyframes circle-outer {
    0% {
        stroke-dashoffset: 25;
    }

    25% {
        stroke-dashoffset: 0;
    }

    65% {
        stroke-dashoffset: 301;
    }

    80% {
        stroke-dashoffset: 276;
    }

    100% {
        stroke-dashoffset: 276;
    }
}

@-webkit-keyframes circle-middle {
    0% {
        stroke-dashoffset: 17;
    }

    25% {
        stroke-dashoffset: 0;
    }

    65% {
        stroke-dashoffset: 204;
    }

    80% {
        stroke-dashoffset: 187;
    }

    100% {
        stroke-dashoffset: 187;
    }
}

@keyframes circle-middle {
    0% {
        stroke-dashoffset: 17;
    }

    25% {
        stroke-dashoffset: 0;
    }

    65% {
        stroke-dashoffset: 204;
    }

    80% {
        stroke-dashoffset: 187;
    }

    100% {
        stroke-dashoffset: 187;
    }
}

@-webkit-keyframes circle-inner {
    0% {
        stroke-dashoffset: 9;
    }

    25% {
        stroke-dashoffset: 0;
    }

    65% {
        stroke-dashoffset: 106;
    }

    80% {
        stroke-dashoffset: 97;
    }

    100% {
        stroke-dashoffset: 97;
    }
}

@keyframes circle-inner {
    0% {
        stroke-dashoffset: 9;
    }

    25% {
        stroke-dashoffset: 0;
    }

    65% {
        stroke-dashoffset: 106;
    }

    80% {
        stroke-dashoffset: 97;
    }

    100% {
        stroke-dashoffset: 97;
    }
}

@-webkit-keyframes text-animation {
    0% {
        -webkit-clip-path: inset(0 100% 0 0);
        clip-path: inset(0 100% 0 0);
    }

    50% {
        -webkit-clip-path: inset(0);
        clip-path: inset(0);
    }

    100% {
        -webkit-clip-path: inset(0 0 0 100%);
        clip-path: inset(0 0 0 100%);
    }
}

@keyframes text-animation {
    0% {
        -webkit-clip-path: inset(0 100% 0 0);
        clip-path: inset(0 100% 0 0);
    }

    50% {
        -webkit-clip-path: inset(0);
        clip-path: inset(0);
    }

    100% {
        -webkit-clip-path: inset(0 0 0 100%);
        clip-path: inset(0 0 0 100%);
    }
}



/* Search List */

.header__inner {
    position: relative;
    width: 100%;
}

.find-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    max-width: 581px;
    top: 47px;
    left: 0;
    width: 100%;
    z-index: 5;
    background-color: var(--clr-white);
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.15);
    padding: 10px;
}

.find-list__item a {
    color: var(--clr-black);
    border-bottom: 1px solid var(--clr-gray);
}

.find-list__item:not(:last-child) {
    margin-bottom: 15px;
    /* border-bottom: 1px solid var(--clr-gray); */
}



.find-list__item:hover {
    background-color: var(--clr-athens-gray);
}

.hide {
    display: none;
}



@media (min-width: 768px) {

    :root {
        --fs-900: 24px;
        --lh-900: 33px;
    }

    .container {
        padding-inline: 20px;
    }

    .header__wrapper {
        justify-content: flex-start;
    }

    .header__logo>svg {
        width: 50px;
        height: 50px;
    }

    .header__search {
        padding: 12px 16px;
        width: 581px;
        display: block;
        font-size: var(--fs-400);
        line-height: var(--lh-400);
        color: var(--clr-black);
        border: 1px solid #3333;
    }

    .header__search::placeholder {
        font-size: var(--fs-400);
        line-height: var(--lh-400);
        color: var(--clr-text-gray);
    }

    .clients {
        padding-block: 40px;
    }

    .clients>.container {
        padding-right: 20px;
    }

    .clients__title {
        margin-bottom: 2px;
    }

    .table__header {
        grid-template-columns: 12.67% 27.91% 13.08% 13.08% 15.09% 12.35%;
    }

    .preloaderdiv {
        width: 100%;
    }

    .table__row {
        margin-right: 0;
    }

    .client {
        grid-template-columns: 12.67% 27.91% 13.08% 13.08% 15.09% 12.35%;
        width: auto;
    }

    /* Edit Client Pop-Up */

    .form {
        padding-inline: 30px;
    }

    .form__add-contacts {
        margin-inline: -30px;
    }

    .add-contacts {
        padding-inline: 30px;
    }

    .new-contact__type {
        width: 31.54%;
    }

    .new-contact__data {
        width: calc(68.46% - 26px);
    }

    .form__close-btn {
        top: 15px;
        right: 15px;
    }

}

@media (min-width: 1024px) {

    .table__header {
        grid-template-columns: 9.57% 23.83% 15.89% 15.89% 12.04% 18.54%;
    }

    .client {
        grid-template-columns: 9.57% 23.83% 15.89% 15.89% 12.04% 18.54%;
        width: auto;
    }

    .client__actions {
        flex-direction: row;
        gap: 30px;
    }

}

@media (min-width: 1200px) {

    .container {
        max-width: 1226px;
    }

    .header>.container {
        max-width: 1366px;
    }

    .header.container {
        max-width: none;
    }

    .clients__title {
        margin-bottom: 18px;
    }

    .table__header {
        grid-template-columns: 9.46% 31.5% 14.57% 14.4% 10.26% 16.23%;
    }

    .preloader {
        width: 80px;
        height: 80px;
    }

    .client {
        grid-template-columns: 9.46% 31.5% 14.57% 14.4% 10.26% 16.23%;
        width: auto;
    }

}

@media all and (max-width: 500px) {
    .modal__content {
        max-width: 375px;
    }

    .modal__form {
        width: 315px;
    }

    .contact {
        width: 315px;
    }
}

@media all and (max-width: 390px) {
    .modal__content {
        max-width: 315px;
    }

    .modal__form {
        width: 255px;
    }

    .contact {
        width: 280px;
    }

    .delete-modal__content {
        min-width: 270px;
    }

}